@{
    ViewData["Title"] = "Diagrama de clases";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
<div class="col-sm-6 col-md-12 col-lg-12 col-xl-12">
<img src="~/img/webapi.png" class="img-fluid" alt="Diagrama de clases" runat="server">
</div>
</div>


